@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: #f1f1f1;
    color: #0f141e;

    font-size: 16px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;

}

table{

    border: 3px solid black;
    border-collapse: separate;
    float: left;
    width: 56%;
    margin: 10px;

}

caption {
    caption-side: top;
    text-align: right;
    margin: 10px ;
    font-size: 14px;
}

html body {
    height: 100%;
}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.main{
    flex: 1 1 auto;
}
aside{

    margin: 10px;
    display: flex;
    float: right;
    width: 36%;

}

button{
    margin: 5px;
}

.afooter{
    float: right;
    margin-right: 10%;
}
footer{
    float: bottom;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 30px;
}

img{
    width: 35px;
}
a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: blue;
}

a:visited {
    color: grey;
}

